<nav class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#"><span><img src="drlfdl_30x30.png"/></span> Drools Fiddle</a>
    </div>
    <form class="navbar-form navbar-left" role="form">
        <div class="btn-group inline">
            <button type="submit" class="btn btn-primary" (click)="compileDrl()"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Build</button>
            <button id="firebtn" type="submit" class="btn btn-primary disabled" (click)="fireDrl()"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Fire</button>
        </div>
        <div class="form-group inline">
            <input name="checkbox-live" type="checkbox" checked data-on-color="success" data-off-color="danger" data-on-text="Live">
        </div>
        <div class="btn-group inline">
            <button id="previousbegin" type="button" class="btn btn-primary disabled stepbystep" >
                <span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span>
            </button>
            <button id="previous" type="button" class="btn btn-primary disabled stepbystep" >
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </button>
            <button id="next" type="button" class="btn btn-primary disabled stepbystep" >
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </button>
            <button id="nextend" type="button" class="btn btn-primary disabled stepbystep" >
                <span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span>
            </button>
            <button  type="button" class="btn btn-primary">
                <b>step</b> <span id="counter" class="badge">0/0</span>
            </button>
        </div>
    </form>
    <form role="form" class="navbar-form navbar-right" id="saveform">
        <div class="btn-group inline">
            <button type="submit" class="btn btn-primary" (click)="saveDrl()"><span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save</button>
        </div>
    </form>
</div>
</nav>
<div class="container-fluid">
    <div class="col-md-6">
        <div class="row">
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading">
                    <ul class="nav nav-tabs" id="theTabs">
                        <li class="active">
                            <a data-toggle="tab" data-target="#drl">Drools Rules</a>
                        </li>
                        <li>
                            <a data-toggle="tab" data-target="#facts">Drools Facts</a>
                        </li>
                        <li>
                            <a data-toggle="tab" data-target="#new">New Rule</a>
                        </li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div id="top-left" class="tab-content">
                        <div id="drl" class="tab-pane fade in active">
                          <ace-editor #editor name="data" [text]="text"
                          (textChanged)="editedQuery.Query=$event; log(editedQuery.Query)"
                          style="min-height: 200px; height: 100%; width:100%; overflow: auto;"
                          [mode]="'drlfile'"></ace-editor>
                        </div>

                        <div id="facts" class="tab-pane fade">
                          json editor
                        </div>

                        <div id="new" class="tab-pane fade">
                          New rules here
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="bottom-left" class="row">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Logs</h3></div>
                <div class="panel-body">
                    <textarea rows="8" id="log" class="form-control"  name="log" ng-model="message.log"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading"><h3 class="panel-title">Visualization <a data-html="true" data-toggle="popover" data-trigger="hover" title="Legend" data-popover-content="#legend"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></h3></div>
            <div class="panel-body">
                <div id="mynetwork" class="row"></div>
                <pre id="eventSpan" class="row"></pre>
            </div>
        </div>
    </div>
</div>

<div id="legend" class="hide">
    <span class="label label-info">Fact Instance</span>
    <span class="label label-warning">Rule</span>
    <span class="label label-danger">Fact Type</span>
</div>
